# ASSIGNMENT - LISTS!
## Exercise 1

## Create two lists of strings:
1. boys with 3 names of boys
2. girls with 3 names of girls.

In [14]:
boys_list = ['Assaf', 'Michael', 'Uriah']
girls_list = ['Ophir', 'Orly', 'Emma']
print(boys_list + girls_list)

['Assaf', 'Michael', 'Uriah', 'Ophir', 'Orly', 'Emma']

## Do the following with list methods:
1. Use append() to add boys a 4th name at the end.
2. Use insert() to add girls a 4th name at the beginning.
3. Use pop() to remove from girls the last name and assign it to a variable called bride.
4. Use pop() to remove from boys the first name and assign it to a variable called groom.
5. Use remove() to remove the last name from boys.
6. Can you do it without knowing the actual name of the last boy.

In [15]:
boys_list.append('Simon')
print(boys_list)

['Assaf', 'Michael', 'Uriah', 'Simon']

In [16]:
girls_list.insert(0,'Shir')
print(girls_list)

['Shir', 'Ophir', 'Orly', 'Emma']

In [17]:
bride = girls_list.pop()
print(bride)

Emma

In [18]:
groom = boys_list.pop(0)
print(groom)

Assaf

In [19]:
print(boys_list)
boys_list.remove('Simon')
print(boys_list)

['Michael', 'Uriah', 'Simon']
['Michael', 'Uriah']

In [21]:
print(boys_list)
del boys_list[-2]
print(boys_list)

['Michael', 'Uriah']
['Uriah']

In [ ]:
## Create a new list called names, which is the concatenation of boys and girls.

In [38]:
names = boys_list + girls_list
print(new_list)

['Uriah', 'Shir', 'Ophir', 'Orly']

## Why will extend() not do the job? 
extend will add one of list into the oster list and won't concatenated it'. 
The result of extend will be: [boys_list,[girls_list]] and not [boys_list,girls_list]

# Exercise 2
Create three variables of type list representing three guys. Each list should be of the form [name (string), age (int), married (Boolean)]. Give the lists proper variable names.

In [137]:
my_brother = ['Assaf', 34, 'married', True]
my_father = ['Michael', 60, 'married', True]
my_dog = ['Thomas', 12, 'single', True]
print(my_brother)

['Assaf', 34, 'married', True]

Modify the age of one of the guys. Note that lists are mutable, so you can do that using direct assignment and there is no need to recreate the entire list.

In [79]:
my_dog[1] = 14
print(my_dog)

['Thomas', 14, 'single', True]

Create a new list called guys, whose elements are the three lists you’ve created. Note that you've created a list of lists.

In [80]:
guys = my_brother + my_father + my_dog
print(guys)

['Assaf', 34, 'married', True, 'Michael', 60, 'married', True, 'Thomas', 14, 'single', True]

Create a list for another "guy" and append it to guys.

In [81]:
guy = ['Uriah', 0.08, 'single', True]
print(guy)
guys = guys + guy
print(guys)

['Uriah', 0.08, 'single', True]
['Assaf', 34, 'married', True, 'Michael', 60, 'married', True, 'Thomas', 14, 'single', True, 'Uriah', 0.08, 'single', True]

Modify the age of one of the guys in guys. Again - remember that guys is mutable, so you can "access" its elements and 
modify them directly.

In [83]:
guys[5]=59
print(guys)

['Assaf', 34, 'married', True, 'Michael', 59, 'married', True, 'Thomas', 14, 'single', True, 'Uriah', 0.08, 'single', True]

Remove one of the elements of guys with two different methods:
using pop()
using remove()

In [85]:
guys.pop(10)
print(guys)
guys.remove(0.08)
print(guys)

['Assaf', 34, 'married', True, 'Michael', 59, 'married', True, 'Thomas', 14, 'Uriah', 0.08, 'single', True]
['Assaf', 34, 'married', True, 'Michael', 59, 'married', True, 'Thomas', 14, 'Uriah', 'single', True]

# Exercise 3
Write a sentence (string) and assign it to a variable called sentence.

In [148]:
sentence = 'I like Python better than Sql'

Print your sentence, so that every word is printed in a new line.

In [149]:
print('\n'.join(sentence.split()))

I
like
Python
better
than
Sql

Count how many times the letter ‘m’ appears in sentence in two differnt ways:
1. by using the string method count().
2. without using the string method count().

In [162]:
sentence.count('t')

4

In [165]:
count = 0 
for x in sentence:
    if x == 't':
        count += 1 

print(count)

4